ios-signals.xcodeproj/project.xcworkspace/xcshareddata/ios-isgnals.xccheckout
ios-signals.xcodeproj/project.xcworkspace/xcshareddata/ios-signals.xccheckout
ios-signals.xcodeproj/project.xcworkspace/xcuserdata/yassine.xcuserdatad/UserInterfaceState.xcuserstate
ios-signals.xcodeproj/project.xcworkspace/xcuserdata/yassine.xcuserdatad/WorkspaceSettings.xcsettings
ios-signals.xcodeproj/xcuserdata/yassine.xcuserdatad/xcschemes/ios-isgnals.xcscheme
ios-signals.xcodeproj/xcuserdata/yassine.xcuserdatad/xcschemes/xcschememanagement.plist
